.about-me-link{
    color:#636b6f;
}
.about-me-link:hover{
    color: black;
    text-decoration: underline;
}
.left-div{
    height: 300px;
    position: fixed;
    top:0;
    left: 16.66%;
}
.right-div{
    margin-left: 15px;
    text-align: center;
    padding: 40px 20px 0;
    background-color: white;
}
.log-div{
    background-color: #262a30;
    height: 100px;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.log-div>div~div{
    margin-top: 10px;
    font-size: 10px;
    font-weight: 200;
}
.nav-div{
    padding: 10px;
    font-size: 11px;
    background-color: white;
}
.nav-div li{
    line-height: 2.0;
}
.li-span{
    margin-left: 10px;
}
.auth-div{
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}
.img-my{
    display: block;
    margin: 0 auto;
    max-width: 100px;
}
.auth-div p{
    margin: 5px;
}
.auth-name{
    color: black;
}
.motto{
    font-size: 10px;
}
.rss{
    font-size: 12px;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}
.rss a{
    color: #fc6423;
}
.rss a:hover{
    color: #ff6666;
}
.about{
    margin-top: 10px;
}
.about a:hover{
    background-color: #eee;
    border-radius: 1px;
}

footer{
    text-align: center;
    height: auto;
    margin-top: 100px;
    margin-left: 360px;
}
section{
    padding: 0 50px;
    text-align: left;
    margin-bottom: 100px;
}
.archives{
    margin-top: -10px;
    border-left:3px solid #eee;
}
.years{
}
.articles{
    margin-top: 0;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 5px;
}
.articles:hover .circle-sml{
    background-color: black;
    opacity: 1;
}
.title{
    margin-left: 10px;
    vertical-align: middle;
}